////
/// Primary screen stylesheet.
///
/// This is the primary stylesheet. We don't actually write any styles here.
/// Instead, we import all of our styles from partials within the sub-folders.
/// This file is set up based on the Inverted Triangle CSS (ITCSS) system,
/// which gets more specific as we drill down each layer.  This keeps your
/// style code lean and organized.
///
/// The bulk of your code should be within the `/components` folder.  By
/// default, we follow the Block-Element-Modifier (BEM) system in our HTML.
/// Each "block" is a "component" in our CSS.
///
/// @group  Styles
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

// Imports all of the files needed for front-end output. Note that the order is
// very specific and should typically not be changed.

.menu-social {
    padding: 0 1.125rem 1.125rem 1.125rem;

    .menu-items {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		.menu-item {
			display: inline-block;
			padding: 0 0.4rem;

			a {
				border-bottom: none;

				svg {
				height: 1.5rem;
				width: 1.5rem;
				}
			}
		}
    }
}
