@function colors() {
	@return (
		aqua     : var( --aqua,     #00ffff),
		bisque   : var( --bisque,   #ffe4c4),
		black    : var( --black,    #000000 ),
		blue     : var( --blue,     #0000ff ),
		coral    : var( --coral,    #ff7f50),
		cornsilk : var( --cornsilk, #fff8dc),
		gold     : var( --gold,     #ffd700),
		green    : var( --green,    #008000),
		indigo   : var( --indigo,   #4b0082), 
		lavender : var( --lavender, #e6e6fa),
		lime     : var( --lime,     #00ff00),
		magenta  : var( --magenta,  #ff00ff),
		maroon   : var( --maroon,   #800000 ),
		navy     : var( --navy,     #000080),
		olive    : var( --olive,    #808000),
		orange   : var( --orange,   #ffa500),
		pink     : var( --pink,     #ffc0cb),
		plum     : var( --plum,     #dda0dd),
		purple   : var( --purple,   #800080),
		red      : var( --red,      #ff0000),
		salmon   : var( --salmon,   #fa8072),
		silver   : var( --silver,   #c0c0c0 ),
		tan      : var( --tan,      #d2b48c),
		teal     : var( --teal,     #008080),
		white    : var( --white,    #ffffff ),
		yellow   : var( --yellow,   #ffff00),
	);
}

/// Returns a single color value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Font familiy name.
/// @return {string}         Font family value.

@function color( $name ) {

	@return map-get( colors(), $name );
}